CompileFlags:
  CompilationDatabase: build/release
  Add: 
    - "-I${workspaceFolder}/duckdb/src/include"
    - "-I${workspaceFolder}/duckdb/src/include/duckdb"
    - "-I${workspaceFolder}/src/include"
    - "-std=c++17"
